@import "./breakpoints.scss";
@import "./variables.module.scss";


.title-list {
  margin: 40px 100px;
  color: $blue;

  @include sm {
    margin: 40px 50px;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 9aaf76b67c8cb598daeb99e7889dd33713aa4fa3
